<div class="w-100 h-100 border border-1 rounded" style="background-color:  #1c2340 !important;">
<div class="d-flex justify-content-between p-2 ms-1 me-1" style="border-bottom: 1px solid #2F3A5A ;" >
    <span class="text-white">Task Details</span>
    <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x " viewBox="0 0 16 16" style="color: white;">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>
          
    </div>

</div>
<p>tak-details works!</p>
</div>
