<div class="app-header rounded p-1">
<div class=" d-flex justify-content-between p-1">
    <div class="d-flex w-75 justify-content-between ">
    <div>
        <div>
        <span class="text-color-white"> < back To Projects</span>
        </div>
        <div>
            <span class="text-white ms-2">  Syncro</span>
        </div>
    </div>
    <div>
        <div class="text-color-white">Todays Date</div>
        <div class="text-white">{{todaysDate()}}</div>
    </div>
    <div>
        <div class="text-color-white">People On Project</div>
        <!-- <div>{{new Date()}}</div> -->
    </div>
</div>
    <div class=" rounded  ">
       <div class="mt-2 mb-2"> <button
        pButton 
        pRipple 
        label="Add People" 
        class=" button-color rounded">
    </button></div>
    </div>
</div>
</div>
